{% extends 'base.html' %}
{% block title %}图书馆借阅{% endblock %}
{% block content %}
<div class="jumbotron col-md-10 col-md-offset-1">
    <h4>这里是武汉大学图书馆的第三方接口，提供下面这些功能，绑定学号之后自动登陆，之后再需要登陆直接按下方学号按钮即可，登陆成功后按钮会变绿色，在此页面查询时请不要刷新,刷新后所有显示信息都会清除.
    </br>预约说明：</br>只有已被借出的书才可以预约，在架上的书直接去图书馆借就可以</h4>
    </div>
<div class='panel panel-default col-md-10 col-md-offset-1' id="mainbox">
    <div class='panel-body'>
        <!-- Text input-->
        <form id="bindForm" method="POST">{% csrf_token %}
            <div class="form-group input-group">
                <span class="input-group-addon">学号</span>
                <input type="text" name="sid" class="form-control" placeholder="" aria-describedby="basic-addon1">
            </div>
            <!-- Text input-->
            <div class="form-group input-group">
                <span class="input-group-addon">密码</span>
                <input type="password" name="pwd" class="form-control" placeholder="默认身份证后六位" aria-describedby="basic-addon1">
            </div>
            <div class="form-group btn-group btn-group-lg">
                <button class="btn btn-default" type="submit">绑定</button>
            </div>
        </form>
        <div class='panel-body' id='accountBox'>
            {% for account in accounts %}
            <form class="loginForm" method="POST">{% csrf_token %}
                <input type="hidden" name="stu_id" value="{{account.sid}}">
                <button type="submit" class="btn btn-default">{{account.sid}}</button>
            </form>
            {% endfor %}
        </div>
        <!-- 查询操作 -->
        <div class='panel-body' id='infoBox'>
        </div>
        <div class="form-group btn-group" role="group">
              <form id="queryhistoryForm" method="POST">{% csrf_token %}
                  <button class="btn btn-default">查询历史借阅</button>
              </form>
              </br>
              <form id="querynowForm" method="POST">{% csrf_token %}
                  <button class="btn btn-default">查询借阅信息</button>
              </form>
        </div>
        <!-- 续借操作-->
        <form id="renewallForm" method="POST">{% csrf_token %}
            <button class="btn btn-default">全部续借</button>
        </form>
        </br>
        <form id="renewForm" method="POST">{% csrf_token %}
            <div class="form-group input-group">
                <span class="input-group-addon">编号</span>
                <input type="text" name="number" class="form-control" placeholder="从查询结果获取">
            </div>
                <button class="form-group btn btn-default" type="submit">单本续借</button>
        </form>
        <div class='panel-body' id='resultBox'>
        </div>
        <!--search book-->
        <form id="searchForm" method="POST">{% csrf_token %}
            <div class="form-group input-group">
                <span class="input-group-addon">关键字</span>
                <input type="text" name="keyword" class="form-control" placeholder="">
                
            </div>
                  <button class="btn btn-default" type="submit">搜索书籍</button>
        </form>
        <div class='panel-body' id='searchBox'>
        </div>
        <form id="orderForm" method="POST">{% csrf_token %}
            <div class="form-group input-group">
                <span class="input-group-addon">编号</span>
                <input type="text" name="num" class="form-control" placeholder="从查询结果获取">
                
            </div>
                <button class="form-group btn btn-default" type="submit">预约书籍</button>
        </form>
        </br>
        <!-- Button -->
        <div class="form-group btn-group" role="group" aria-label="...">
          <form id="queryorderForm" method="POST">{% csrf_token %}
              <button class="form-group btn btn-default" type="submit">查询预约书籍</button>
          </form>
        </div>
        <div class='panel-body' id='orderBox'>
        </div>
        <form id="deleteorderForm" method="POST">
            <div class="form-group input-group">
                <span class="input-group-addon">编号</span>
                <input type="text" name="num" class="form-control" placeholder="从查询结果获取">
            </div>
                  <button class="btn btn-default" type="submit">删除预约</button>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {  
    //表单 submit 事件  
    $('#bindForm').submit(function() {  
        //ajax 提交表单  
        $.post('/book/bind/',  
            $('#bindForm').serialize(),
            function(data) { 
                console.log(data);
                if(data['status']) {
                    var htmlstr='<button type="button" class="btn btn-default">'+data['sid']+'</button>';
                    $('#accountBox').append(htmlstr);
                }else{
                    var htmlstr='<div class="alert alert-warning" role="alert">'+data['info']+'</div>';
                    $('#accountBox').append(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });  
    $('.loginForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/login/',  
            $this.serialize(),
            function(data) { 
                console.log(data);
                var btn = $this.children('button');
                if(data['status']) {
                    btn.addClass('alert alert-success');
                    btn.attr('type', 'button');
                }else{
                    btn.addClass('alert alert-danger');
                    var htmlstr='<div class="alert alert-danger" role="alert">'+data['info']+'</div>';
                    $('#accountBox').append(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#queryhistoryForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/historybook/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>按借书倒序</h3></br>';
                    for(var book in data['info']){
                        htmlstr += '编号: ' + data['info'][book]['BookNum'] + '</br>';
                        htmlstr += '书名: ' + data['info'][book]['BookName'] + '</br>';
                        htmlstr += '罚款: ' + data['info'][book]['Fines'] + '</br></br>';
                    }
                    htmlstr += '</div>';
                    $('#infoBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert">'+data['info']['reason']+'</div>';
                    $('#infoBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#querynowForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/nowbook/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>按借书倒序</h3></br>';
                    for(var book in data['info']){
                        htmlstr += '编号: ' + data['info'][book]['BookNum'] + '</br>';
                        htmlstr += '书名: ' + data['info'][book]['BookName'] + '</br>';
                        htmlstr += '应还日期: ' + data['info'][book]['DateToReturn'] + '</br>';
                        htmlstr += '罚款: ' + data['info'][book]['Fines'] + '</br></br>';
                    }
                    htmlstr += '</div>';
                    $('#infoBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert">'+data['info']['reason']+'</div>';
                    $('#infoBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#renewallForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/renewall/',  
            $this.serialize(),
            function(data) { 
                var htmlstr='<div class="alert alert-info" role="alert"><h3>续借结果</h3></br>';
                if(data['status']) {
                    console.log(data['info']['reason']);
                    htmlstr += data['info']['reason'];
                    htmlstr += '</div>';
                    $('#resultBox').html(htmlstr);;
                }else{
                    console.log(data['info']['reason']);
                    var htmlstr='<div class="alert alert-danger" role="alert"><h3>续借结果</h3>'+data['info']['reason']+'</div>';
                    $('#resultBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#renewForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/renew/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>续借结果</h3></br>';
                    htmlstr += data['info']['reason'];
                    htmlstr += '</div>';
                    $('#resultBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert"><h3>续借结果</h3></br>'+data['info']['reason']+'</div>';
                    $('#resultBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#searchForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/search/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>搜索结果(前十条)</h3></br>';
                    for(var book in data['info']){
                        htmlstr += '编号: ' + data['info'][book]['BookNum'] + '</br>';
                        htmlstr += '书名: ' + data['info'][book]['BookName'] + '</br>';
                        htmlstr += '借阅情况: ' + data['info'][book]['Condition'] + '</br>';
                        htmlstr += '<img class="media-object" src="' + data['info'][book]['BookCover'] + '"></br></br>';
                    }
                    htmlstr += '</div>';
                    $('#searchBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert">'+data['info']+'</div>';
                    $('#searchBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#orderForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/order/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>预约结果</h3></br>';
                    htmlstr += data['info'];
                    htmlstr += '</div>';
                    $('#orderBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert"><h3>预约结果</h3></br>'+data['info']+'</div>';
                    $('#orderBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#queryorderForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/queryorder/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>预约结果</h3></br>';
                    for(var book in data['info']){
                        htmlstr += '编号: ' + data['info'][book]['BookNum'] + '</br>';
                        htmlstr += '书名: ' + data['info'][book]['BookName'] + '</br>';
                        htmlstr += '起始日期: ' + data['info'][book]['From'] + '</br>';
                        htmlstr += '预约到期日期: ' + data['info'][book]['To'] + '</br>';
                        htmlstr += '归还日期: ' + data['info'][book]['ReturnTime'] + '</br>';
                        htmlstr += '藏书地点: ' + data['info'][book]['Location'] + '</br>';
                    }
                    htmlstr += '</div>';
                    $('#orderBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert"><h3>预约结果</h3></br>'+data['info']+'</div>';
                    $('#orderBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
    $('#deleteorderForm').submit(function() {  
        //ajax 提交表单  
        var $this = $(this);
        $.post('/book/deleteorder/',  
            $this.serialize(),
            function(data) { 
                if(data['status']) {
                    var htmlstr='<div class="alert alert-info" role="alert"><h3>删除预约结果</h3></br>';
                    htmlstr += data['info'];
                    htmlstr += '</div>';
                    $('#orderBox').html(htmlstr);;
                }else{
                    var htmlstr='<div class="alert alert-danger" role="alert"><h3>删除预约结果</h3></br>'+data['info']+'</div>';
                    $('#orderBox').html(htmlstr);
                }
            });  
        return false;       //阻止表单提交  
    });
});  
</script>
{% endblock %}

