{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
{% for article in articles %}
<section class="panel panel-default col-md-10 col-md-offset-1 blog-box">
    <section class="panel-heading bg-primary">
        <h3 class="panel-title"><a href="article/{{article.id}}/">{{article.title}}</a>
        {% for tag in article.tags.all %}
        <a href="/blog/tag/{{tag.id}}" ><span class="label label-default">{{tag}}</span></a>
        {% endfor %}
        <cite title="Source Title">发表于 {{article.time}}</cite>
        </h3>

    </section>
    <div class="panel-body">
        {{ article.content|safe|truncatewords_html:20 }}
        <br>
        <a href="/blog/article/{{article.id}}/">查看更多</a>
    </div>
</section>
{% endfor %}
{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock %}
