{% extends "base.html" %}
{% block title %}博客{% endblock %}
{% block content %}
<div class="jumbotron col-md-10 col-md-offset-1">
  <h3>这里是Free的个人博客</h3>
    <p>也就是只有我自己能发辣</p>
</div>
{% for article in articles %}
<div class="panel panel-default  col-md-10 col-md-offset-1">
    <div class="panel-heading bg-primary">
        <h3 class="panel-title"><a href="article/{{article.id}}/">{{article.title}}</a>
        {% for tag in article.tags.all %}
        <a href="/blog/tag/{{tag.id}}" ><span class="label label-default">{{tag}}</span></a>
        {% endfor %}
        <cite title="Source Title">发表于 {{article.time}}</cite>
        </h3>

    </div>
    <div class="panel-body">
        {{ article.content|safe|truncatewords_html:20 }}
        <br>
        <a href="/blog/article/{{article.id}}/">查看更多</a>
    </div>

</div>
{% endfor %}
{% endblock %}
