{% extends "base.html" %}
{% block title %}Blog|{{article.title}}{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}
{% if article %}
<!--title-->
<section class="page-header ">
  <h1 align="center">{{article.title}}
      {% for tag in article.tags.all %}
      <a href="/blog/tag/{{tag.id}}" class="tag-link"><span class="label label-default">{{tag}}</span></a>
      {% endfor %}
  </h1>
</section>
<!--content-->
<article class="panel panel-default col-md-10 col-md-offset-1 blog-box">
  <div class="panel-body" id="article-body">
      {{ article.content|safe|linebreaks }}
      <div class="publish-time">at <cite title="Source Title">{{article.time}}</cite></div>
  </div>
</article>
<!--comment-->

<div class="panel panel-default col-md-10 col-md-offset-1" class="comment-box">
  {% if comments %}
    {% for comment in comments %}
    <div class="panel-body">
          <h4>{{comment.content}}</h4>
          <h5>by {{comment.name}} at {{comment.time}}</h5>
    </div>
    <hr>
    {% endfor %}
  {% else %}
      <div class="no-comment">
        <p>暂时还没有评论~</p>
      </div>
  {% endif %}
</div>
<!--post comment-->
<div class="panel panel-default col-md-10 col-md-offset-1">
  <div class="panel-body">
    <form method="POST" id="comForm">{% csrf_token %}
      {% if user.is_authenticated %}
          <div class="form-group">
            <label for="exampleInputEmail1">邮箱</label>
            <input type="email" name="email" value="{{user.email}}" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputName1">姓名</label>
            <input type="text" name="name" value="{{user.username}}" class="name-input form-control" id="exampleInputName1">
          </div>
      {% else %}
          <div class="form-group">
            <label for="exampleInputEmail">邮箱</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail">
            </div>
          <div class="form-group">
            <label for="exampleInputName">姓名</label>
            <input type="text" name="name" class="name-input form-control" id="exampleInputName">
          </div>
      {% endif %}
      <div class="form-group">
        <label for="exampleInputText">评论</label>
        <textarea class="form-control" name="content" id="exampleInputText" placeholder=""></textarea>
      </div>
        <input type="hidden" name="post_type" value="post_comment">
        <input type="hidden" name="article_id" value="{{article.id}}">
      <button type="submit" class="btn btn-default">发布</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/blog.js' %}"></script>
{% endblock %}
