{% extends "base.html" %}
{% block title %}文集{% endblock %}
{% block content %}
{% if novels %}
    <ul class="list-group col-md-10 col-md-offset-1">
      {% for n in novels %}
        <li class="list-group-item"><a href="n-{{n.id}}/">{{n.name}}</a></li>
      {% endfor %}
    </ul>
{% else %}
<div class="jumbotron  col-md-10 col-md-offset-1">
  <h3>现在这里还没有Novel，来创建一个吧～！</h3>
</div>
{% endif %}
<br/>
<a class="btn btn-lg btn-default col-md-offset-1" href="./add_new_novel/" role="button">创建Novel</a>
{% endblock %}
