{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block content %}
<!-- display messages by id -->
<div class="list-group col-md-10 col-md-offset-1">
{% for msg in msgs %}
    <div class="list-group-item">
        <pre class="list-group-item-heading msg-content" style="word-break:break-all;word-wrap:break-word;" >{{msg.content}}</pre>
        <p class="list-group-item-text" align="right">——{{msg.author}}</p>
        <p class="list-group-item-text" align="right">at {{msg.time}}</p>
    </div>
{% endfor %}
</div>
<!-- post messages -->
<form id="msgForm" class="form-horizontal col-md-6 col-md-offset-3 container" method="POST" >{% csrf_token %}
    <div class="form-group">
        <label  class="control-label" for="exampleMessage">留言：</label>
        <textarea wrap="physical" rows="5"  type="text" name="content" value="" placeholder="" class="form-control" id="exampleMessage"></textarea>
        <br/>
        <input type="submit" id="msg-btn" class="form-control btn btn-lg btn-primary" value="发布"/>
    </div>
</form>
{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/msgpad.css' %}">
{% endblock %}
{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/msgpad.js' %}"></script>
{% endblock %}
