{% extends "base.html" %}
{% block title %}留言板{% endblock %}
{% block content %}
<!-- display messages by id -->
<div class="list-group col-md-10 col-md-offset-1">
{% for msg in msgs %}
    <div class="list-group-item">
        <pre class="list-group-item-heading" style="word-break:break-all;word-wrap:break-word;" >{{msg.content}}</pre>
        <p class="list-group-item-text" align="right">——{{msg.author}}</p>
        <p class="list-group-item-text" align="right">at {{msg.time}}</p>
    </div>
{% endfor %}
</div>
<!-- post messages -->
<form id="msgForm" class="form-horizontal panel col-md-10 col-md-offset-1 container" method="POST" action=".">{% csrf_token %}
    <div class="form-group col-md-10">
        <label  class="control-label" for="exampleMessage">留言：</label>
        <textarea wrap="physical" type="text" name="content" value="" class="form-control" id="exampleMessage" placeholder=""></textarea>
    </div>
    <div class="form-group col-md-4">
        <input type="submit" class="btn btn-lg btn-primary" value="发布"/>
    </div>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(function(){
		$("#msgForm").submit(function() {  
        //ajax 提交表单  
	        $.post("./post/",  
	        $('#msgForm').serialize(),
	        function(data) {  
            	$("textarea").val("");  //消息发送成功后清空内容框  
            	$(".list-group").append(data); //add new message
        	});  
        	return false;       //阻止表单提交  
    	}); 
	});
</script>
{% endblock %}
