{% extends "base.html" %}
{% block title %}注册{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron">
  <h1>你已经注册过啦！</h1>
</div>
{% else %}
<form method='POST' action='.' class='form-horizontal form col-md-4 col-md-offset-4'>{% csrf_token %}
{% for field in form %}
<div class="form-group" id="inp-{{field.name}}">
	<label class="control-label" for="id_{{field.name}}">{{field.label}}:</label>
  <br/>
	<div class="from-control">{{field}}</div>
	<div class="from-control text-danger">{{ field.errors }}</div>
</div>
{% endfor %}
<div class="form-group">
	<button type='submit' class="form-control">注册</button>
</div>
</form>
{% endif %}
{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
