{% extends "base.html" %}
{% block title %}贴吧工具{% endblock %}
{% block content %}
<div class="panel panel-default col-md-10 col-md-offset-1">
    <div class="panel-body">
    <!-- input info to bind baidu account -->
        <form id="binForm" action="./bind/" method="POST">{% csrf_token %}
	        <div class="form-group input-group">
	             <span class="input-group-addon" id="basic-addon1">百度ID</span>
	             <input type="text" name="uid" class="form-control" placeholder="" aria-describedby="basic-addon1">
	        </div>
	        <div class="form-group input-group">
	             <span class="input-group-addon" id="basic-addon1">密码</span>
	             <input type="password" name="pwd" class="form-control" aria-describedby="basic-addon1">
	        </div>
	        <div class="btn-group btn-group-lg">
	             <button class="btn btn-default" type="submit">绑定账号</button>
	        </div>
     	</form>
	</div>
	<div class="page-header">
  		<h1>已绑定账号:<small></small></h1>
	</div>
	<form action="./sign/" method="POST">{% csrf_token %}
	        <div class="btn-group btn-group-lg">
	             <button class="btn btn-default" type="submit">一键签到</button>
	        </div>
     </form>
	<div class="panel-body">
		{% for account in accounts %}
		<div class="list-group col-md-4">
			<a href="#" id="{{account.id}}" class="list-group-item active">
			    {{account.uid}}
			</a>
			{% for sign in account.account_sign_status.all %}
				{% if sign.bar in account.bars.all %}
				<a href="{{sign.bar.link}}" id="{{sign.bar.id}}" class="list-group-item">{{sign.bar.name}}
					{% if sign.signed %}
						<span class='badge'>签</span>
					{% endif %}
				</a>
				{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function() {
	$('.list-group-item').not('.active').each(function() {
		var $this = $(this);
		// alert($(this).parent().children('.active').attr('id'));
		$.post("./getsignstatus/",  
	        {
	        	bar_id:$this.attr('id'),
	        	account_id:$this.parent().children('.active').attr('id'),
	        },
	        function(data) {  
	        	var htmlstr = $this.html();
	        	var badgestr = '<span class="badge">签</span>';
	        	if (data['sign_status']) {
	        		if (htmlstr.indexOf(badgestr) < 0){
		        		$this.append(badgestr);
	        		}
	        	}else{
	        		if (htmlstr.indexOf(badgestr) > 0){
	        			$this.find('span').remove();
	        		}

	        	}
        	});  
	});
});
</script>

{% endblock %}