#logo{
  text-align: center;
}
#head-img{
  border: 2px #eee solid;
  border-radius: 50%;
}
.social-logo{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 1% 1%;
}
.info-box{
  /*text-align: left;*/
  display: none;
}
hr{
  border-color: #aaa;
}
.info-box:last-child{
  margin-bottom: 20px;
}
