body{
  font-size: 14px;
  min-height:100%;
  background-color: #81C7D4;
}

nav{
  background-color: rgb(65, 177, 70) !important;/*nav的背景色,a背景是透明的*/
  padding: 10px 10px;
  margin: 0 !important;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav .dropdown-menu{/*整个下拉列表*/
  background-color: rgb(65, 177, 70) !important;
  /* 一样的背景色但没有padding*/
  min-width: auto;
}

nav .dropdown-menu>li{
  padding: 0;
  margin: 10px 0;
}

nav a{
  text-decoration: none;
  color: #eee !important;
  border-radius: 10px;
}

nav a:hover{
  background-color: rgb(65, 200, 70) !important;
}

nav .open{
  background-color: rgb(65, 200, 70) !important;
}
#main-box{
  min-height: 600px;
}
@media screen and (min-width: 1000px){
  .container-fluid{
    margin-top:40px;
  }
  .container-fluid>*:first-child{
    margin-top:40px;
  }
}
@media screen and (max-width: 500px) {
  .container-fluid{
    margin-top: 100px;
  }
  .container-fluid>*:first-child{
    margin-top: 100px;
  }
}

.user-action{
  float: right !important;
}

footer{
  text-align: center;
  background-color: rgb(65, 177, 70);
  font-size: 1.8em;
  padding: 1%;
}

a, a:active, a:hover, a:link{
  text-decoration: none;
}
