body{
  font-size: 14px;
}

nav{
  background-color: rgb(65, 177, 70) !important;/*nav的背景色,a背景是透明的*/
  padding: 10px 10px;
  margin: 0 !important;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

nav .dropdown-menu{/*整个下拉列表*/
  background-color: rgb(65, 177, 70) !important;
  /* 一样的背景色但没有padding*/
  min-width: auto;
}

nav .dropdown-menu>li{
  padding: 0;
  margin: 10px 0;
}

nav a{
  text-decoration: none;
  color: #eee !important;
  border-radius: 10px;
}

nav a:hover{
  background-color: rgb(65, 200, 70) !important;
}

nav .open{
  background-color: rgb(65, 200, 70) !important;
}

.container-fluid{
  margin-top:40px;
}

.container-fluid>*{
  margin-top:40px;
}

.user-action{
  float: right !important;
}
