.blog-box{
  box-shadow: 5px 5px 5px #0089A7;
  padding: 0;
  display: none;
}

.panel-heading{
  border-radius: 5px;
}
.tag-link{
  font-size: 0.5em;
}

.publish-time{
  text-align: right;
}

.no-comment{
  min-height: 100px;
  font-size: 2em;
}
