#cover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #227D51;
  /*opacity: 0.9;*/
  text-align: center;
  display: none;
}

#exit-btn{
  top: 0;
  right: 0;
  position: absolute;
  background-color: inherit;
  border: none;
  font-size: 2em;
  color: #fff;
}

#timeHead{
  margin: 1.5em;
  font-size: 50px;
  color: #fff;
}

.index-pages{
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    margin: 0;
}

#index-page-1{
  background-color: #A8D8B9;
  top: 0;
  left: 0;
}
#index-page-2{
  background-color: #81C7D4;
  top: 100%;
  left: 0;
}
#index-page-3{
  background-color: #33A6B8;
  top: 200%;
  left: 0;
}
#index-page-4{
  background-color: #0089A7;
  top: 300%;
  left: 0;
}
#index-page-5{
  background-color: #6495ED;
  top: 400%;
  left: 0;
}
#index-page-6{
  background-color: #3A8FB7;
  top: 500%;
  left: 0;
}
#index-page-7{
  background-color: #2EA9DF;
  top: 600%;
  left: 0;
}

.next-page{
  background-color: inherit;
  border: none;
  font-size: 2em;
  color: #233;
  bottom: 20px;
  position: absolute;
  text-decoration: none;
}

@media screen and (min-width: 1000px){
  h1{
    margin: 15% auto 0;
    font-size: 8em;
  }
  h2{
    margin: 1em 1em;
    font-size: 2em;
    text-align: left;
    line-height: 2em;
  }
}
@media screen and (max-width: 500px){
  h1{
    margin: 50% auto 0;
    font-size: 4em;
  }
  h2{
    margin: 1em 1em;
    font-size: 2em;
    text-align: left;
  }
}

.display-icon{
  width: 50%ï¼›
}
.display-icon img{
  width: 30%;
  height: 30%;
  margin: 10%;
  float: right;
}

@media screen and (min-width: 1000px){
  .caption{
    /*width: 50%;*/
    margin: 10% 30%;
  }
}
@media screen and (max-width: 500px){
  .caption{
    margin: 50% 10%;
  }
}

.caption h3{
  font-size: 2em;
}
.caption p{
  font-size: 1.5em;
  text-align: left;
}
