.msg-content{
  min-height: 60px;
}

form{
  border: solid 2px #eee;
  background-color: #eee;
}

.form-group{
  margin: 10px 10px !important;
}

#msg-btn{
  font-size: 1.5em;
  padding: 0;
  background-color: rgb(65, 177, 70);
  border: none;
  border-radius: 0;
}
