.pros{
  border: transparent 2px solid;
  text-align: center;
  margin: 2em;
}
.cover{
  background-color: #5DAC81;
  opacity: 0.9;
  min-height: 300px;
  border-radius: 10px;
  padding: 4em 2em;
}
.cover *{
  color: white;
}
