form{
  border: solid 2px #eee;
  background-color: #eee;
  border-radius: 5px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.form-group{
  margin: 20px 50px !important;
}

.form-group button{
  background-color: rgb(65, 177, 70);
  color: #eee;
}

.form-group input{
  width: 100% !important;
}
