{% extends 'base.html' %}
{% block title %}图书馆借阅{% endblock %}
{% block content %}
        <div class='panel panel-default col-md-10 col-md-offset-1'>
            <div class='panel-body'>
                <!-- Text input-->
                <form action="./login/" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">学号</span>
                        <input type="text" name="sid" class="form-control" placeholder="" aria-describedby="basic-addon1">
                    </div>
                    <!-- Text input-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">密码</span>
                        <input type="password" name="pwd" class="form-control" placeholder="默认身份证后六位" aria-describedby="basic-addon1">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-default" type="submit">登陆</button>
                    </div>
                </form>
                <!-- 查询操作 -->
                <form action="./check/" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">年</span>
                        <input type="text" name="year" class="form-control" placeholder="留空为当年" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">月</span>
                        <input type="text" name="month" class="form-control" placeholder="留空为当月" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">日</span>
                        <input type="text" name="day" class="form-control" placeholder="留空为当天" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">区</span>
                        <input type="text" name="region" class="form-control" placeholder="1为文理学部，2为医学部" aria-describedby="basic-addon1">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-default" type="submit">查询空闲研修室</button>
                    </div>
                </form>
                <!-- 预约操作 -->
                <form action="./reserve/" method="POST">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">房间号</span>
                        <input type="text" name="room" class="form-control" placeholder="从查询结果获得" aria-describedby="basic-addon1">
                    </div>
                    <!-- Text input-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">时间段</span>
                        <input type="text" name="time" class="form-control" placeholder="8:00~11:30——1   11:30~15:00——2    15:00~18:30——3   18:30~22:00——4" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">电话</span>
                        <input type="text" name="tel" class="form-control" placeholder="可不填" aria-describedby="basic-addon1">
                    </div>
                    <!-- Text input-->
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">预约描述</span>
                        <input type="text" name="description" class="form-control" placeholder="可不填" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">邮箱</span>
                        <input type="text" name="email" class="form-control" placeholder="随便填" aria-describedby="basic-addon1">
                    </div>
                    <div class="btn-group btn-group-lg">
                        <button class="btn btn-default" type="submit">预约</button>
                    </div>
                </form>
                <form action="./cancel/" method="POST">
                    <button class="btn btn-default">取消预约</button>
                </form>
                <form action="./roomid/" method="POST">
                    <button class="btn btn-default">查询预约房间号</button>
                </form>
            </div>
        </div>
{% endblock %}

