{% extends "base.html" %}
{% block title %}论坛{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}
{% block content %}
<section class="list-group col-md-10 col-md-offset-1 post-list">
{% for post in posts %}
<div class="list-group-item">
    <h4 class="list-group-item-heading">
        <span class="label label-warning"><a href="/forum/topic/{{post.topic.id}}">{{post.topic}}</a> </span>
        <a href="p/{{post.id}}/">{{post.title}}</a>
        <span class="badge">由{{post.author.username}}发表</span>
        <span class="badge">{{post.reply_count}}回复</span>
        <span class="badge">{{post.last_reply_time}}</span>
    </h4>
</div>
{% endfor %}
</section>
<section class="panel panel-default  col-md-10 col-md-offset-1">
  <form id="forumForm" class="panel-body form-horizontal" method="POST" action="post/">{% csrf_token %}
      <div class="form-group col-md-12">
          <label class="control-label" for="exampleTitle">标题</label>
          <input type="text" name="title" value="" class="form-control" id="exampleTitle" placeholder="">
      </div>
      <div class="form-group col-md-12">
          <label class="control-label" for="exampleContent">正文</label>
          <textarea rows="6" name="content" class="form-control" id="exampleContent" placeholder=""></textarea>
      </div>
      <div class="form-group col-md-12">
          <label class="control-label" for="exampleContent">选择话题</label>
          <select class="form-control" name="belong_to_topic">
              {% for topic in topics %}
                  <option value="{{topic.id}}">{{topic.name}}</option>
              {% endfor %}
          </select>
      </div>
      <div class="form-group col-md-4" id="sub-btn">
          <input type="hidden" name="post_type" value="post_post"/>
          <input type="submit" class="btn btn-lg" value="发布>>>"/>
      </div>
  </form>
</section>

{% endblock %}
