{% extends "base.html" %}
{% block title %}论坛{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/forum.css' %}">
{% endblock %}
{% block content %}
<!--display post-->
<div class="panel panel-default col-md-10 col-md-offset-1" id="post-box">
    <div class="panel-heading">
        <h4>
            <span class="label label-info"><a href="/forum/topic/{{post.topic.id}}">{{post.topic}}</a></span>
            <a href="/forum/p/{{post.id}}/">{{post.title}}</a>
            <span class="badge">由{{post.author.username}}发表</span>
            <span class="badge">{{post.reply_count}}回复</span>
            <span class="badge">{{post.last_reply_time}}</span>
        </h4>
    </div>
    <div class="panel-body" style="min-height:200px;">
        {{post.content}}
    </div>
</div>
<!--display reply-->
{% for reply in replys %}
<div class="panel panel-default col-md-10 col-md-offset-1">
  <div class="list-group ">
      <div class="list-group-item" style="min-height:100px;">
          {{reply.content}}
      </div>
      <div class="list-group-item" align="right">
          <button class="btn btn-primary" onclick="cause_reply(this)">回复</button>
          <p>{{reply.floor_num}}楼 {{reply.author.username}} at {{reply.time}}</p>
      </div>
  </div>
</div>
{% endfor %}
<!--post reply-->
<form class="form-horizontal panel col-md-10 col-md-offset-1" method="POST" action="/forum/post/">{% csrf_token %}
    <div class="form-group col-md-12">
        <label  class="control-label" for="exampleContent"></label>
        <br><br/>
        <textarea rows="6" name="content" class="form-control" id="exampleContent"></textarea>
    </div>
    <div class="form-group col-md-4" id="post_field">
        <input type="hidden" name="post_type" value="post_reply"/>
        <input type="hidden" name="post_id" value="{{post.id}}"/>
        <input type="submit" class="btn btn-lg btn-primary" value="回帖"/>
    </div>
</form>
{% endblock %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/forum.js' %}"></script>
{% endblock %}
