{% extends "base.html" %}
{% block title %}关于开发者{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block content %}
{% load staticfiles %}
<section class="col-md-10 col-md-offset-1" id="logo">
  <img src="{% static 'img/moyotee.jpg' %}" alt="" id="head-img">
  <h1>应聘前端实习-朱赋蕊</h1>
  <!-- <h3>热爱编程与互联网，以教育事业为梦想</h3> -->
   <a href="https://github.com/zhufree" target="_blank"><img src="{% static 'img/github.png' %}" alt="" class="social-logo"></a>
  <a href="http://blog.csdn.net/zhu_free" target="_blank"><img src="{% static 'img/csdn.png' %}" alt="" class="social-logo"></a>
  <a href="http://zhufree.jisuan.me" target="_blank"><img src="{% static 'img/jisuanke.png' %}" alt="" class="social-logo"></a>
  <a href="https://www.shiyanlou.com/user/29295" target="_blank"><img src="{% static 'img/shiyanlou.jpg' %}" alt="" class="social-logo"></a>
</section>
<section class="col-md-10 col-md-offset-1 info-box" id="person-info">
  <h1>个人信息</h1>
  <hr>
  <p>姓名：朱赋蕊</p>
  <p>性别：女</p>
  <p>电话：18207147818</p>
  <p>QQ：963949236</p>
  <p>wechat：Zhu_free</p>
  <p>Email：963949236@qq.com</p>
  <p>可以从7月开始实习6个月以上</p>
  <p>Github: <a href="https://github.com/zhufree/">https://github.com/zhufree/</a></p>
  <p>CSDN：<a href="http://blog.csdn.net/zhu_free">http://blog.csdn.net/zhu_free</a></p>
  <p>CodePen：<a href="http://codepen.io/zhufree/">http://codepen.io/zhufree/</a></p>
</section>
<section class="col-md-10 col-md-offset-1 info-box" id="edu-info">
  <h1>教育背景</h1>
  <hr>
  <p>WHU 武汉大学-SIM 信息管理学院-DP 数字出版-大三本科在读</p>
  <!-- <p>实验楼：<a href="https://www.shiyanlou.com/user/29295">https://www.shiyanlou.com/user/29295</a></p> -->
  <!-- <p>计蒜客：<a href="http://zhufree.jisuan.me/">http://zhufree.jisuan.me/</a></p> -->
</section>
<section class="col-md-10 col-md-offset-1 info-box" id="pro-skill">
  <h1>计算机技能</h1>
  <hr>
  <p>熟悉<code>python</code>，掌握<code>python+django</code>框架进行web开发(前端+后台)，熟悉mvc架构，对数据库使用也有一定的了解；</p>
  <p>掌握<code>html,css,javascript</code>和常用的网页布局方式，熟悉<code>html5</code>及<code>css3</code>新特性；</p>
  <!-- <p>了解移动端开发;</p> -->
  <p>熟悉<code>bootstrap</code>及<code>jquery</code>的使用；</p>
  <p>熟悉<code>sass/jade/gulp</code>的使用，了解es6新特性，在学习<code>nodejs+express</code>；</p>
  <p>了解基本算法及数据结构，熟悉HTTP，TCP/IP协议等网络基础知识；</p>
  <p>熟悉git的使用；</p>
</section>
<section class="col-md-10 col-md-offset-1 info-box" id="pro-show">
  <hr>
  <h1>作品展示</h1>
  <div class="page-work work">
    <h3>页面布局作品</h3>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <a target="_blank" href="https://codepen.io/zhufree/pen/MyjBPx">
          <div class="thumbnail">
            <img src="{% static 'img/paper.png' %}" alt="...">
            <div class="caption">
              <h3>模拟报纸排版</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a target="_blank" href="https://codepen.io/zhufree/pen/XKNyem">
          <div class="thumbnail">
            <img src="{% static 'img/lenovo.png' %}" alt="...">
            <div class="caption">
              <h3>模仿联想官网首页</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a target="_blank" href="https://codepen.io/zhufree/pen/LZxGEO">
          <div class="thumbnail">
            <img src="{% static 'img/music163.png' %}" alt="...">
            <div class="caption">
              <h3>模仿网易云音乐首页</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a target="_blank" href="https://codepen.io/zhufree/pen/oLBbNp">
          <div class="thumbnail">
            <img src="{% static 'img/woshipm.png' %}" alt="...">
            <div class="caption">
              <h3>模仿我是pm官网首页</h3>
            </div>
          </div>
        </a>
      </div>
      <div class="col-sm-6 col-md-4">
        <a target="_blank" href="https://codepen.io/zhufree/pen/YWNwjB">
          <div class="thumbnail">
            <img src="{% static 'img/mtaobao.png' %}" alt="...">
            <div class="caption">
              <h3>模仿手机淘宝首页（移动端）</h3>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="project-work work">
    <h3>实际项目作品</h3>
    <a href="www.dyclub.org/projects/LostChildren/"><h4><b>失踪儿童不完全档案</b></h4></a>
    <p>在该项目中本人主要负责第二章的数据可视化部分和第三章的数据查询部分，其中第二章使用了d3数据可视化库；</p>
    <p>该项目是本人第一次参与实际项目并于他人合作完成，学习新技术的同时也深深感受到协同工作中统一规范与编码风格一致的重要性；</p>
    <div class="display-box row">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-1.png' %}" alt="">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-2.png' %}" alt="">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-3.png' %}" alt="">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-4.png' %}" alt="">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-5.png' %}" alt="">
      <img class="col-md-4 col-sm-6" src="{% static 'img/pro-6.png' %}" alt="">
    </div>
  </div>
  <div class="personal-work work">
    <h3>个人项目作品</h3>
    <p>以下作品为本人在自学过程中个人开发的小项目。</p>
    <a href="http://dj.zhufree.info/"><h4><b>个人项目网站</b></h4></a>
    <p>使用<code>python</code>的<code>django</code>框架，实现了留言板，个人博客，论坛等功能，有完整的前后台交互以及数据处理。
    </p><p>前端使用了<code>bootstrap</code>框架和<code>jquery</code>类库</p>
    <p>github地址：<a href="https://github.com/zhufree/sample">https://github.com/zhufree/sample</a></p>
    <p>网站地址： <a href="http://dj.zhufree.info/">http://dj.zhufree.info</a></p>
    <a href="http://whufree.pythonanywhere.com/"><h4><b>大圣归来同人画廊</b></h4></a>
    <p>以大圣归来为主题的图片展示网站，通过提供图片地址发布图片，使用标签组织信息，前端使用<code>bootstrap</code><!--以及<code>ajax</code>-->。</p>
    <p>网站地址：<a href="http://whufree.pythonanywhere.com/">http://whufree.pythonanywhere.com/</a></p>
  </div>
  <div class="other-work work">
    <h3>其他作品</h3>
    <p>以下为和前端关系不大的作品。</p>
    <h4><b>电子书自动排版生成网页工具</b></h4>
    <p>班级导师的项目，将电子书排版的流程自动化，给出文字，图片，音视频文件，自动排版生成html，pdf以及简单的手机app。</p>
    <p>java版本：<a href="https://github.com/zhufree/eBookGenerator">https://github.com/zhufree/eBookGenerator</a></p>
    <p>python版本：<a href="https://github.com/zhufree/eBookAuto">https://github.com/zhufree/eBookAuto</a></p>
    <h4><b>百度贴吧爬虫</b></h4>
    <p>python爬虫项目，通过模拟登陆贴吧实现发帖回帖签到抓取内容等功能，主要使用了<code>beautifulsoup+requests</code>库。</p>
    <p>java版本：<a href="https://github.com/zhufree/eBookGenerator">https://github.com/zhufree/tools-for-tieba</a></p>
  </div>
</section>
<section class="col-md-10 col-md-offset-1 info-box" id="life-skill">
  <h1>自我评价</h1>
  <hr>
  <p>热爱编程及互联网行业；</p>
  <p>自律，责任心强，守时；</p>
  <p>学习能力强，习惯尝试新的学习方法并积累总结经验，有较强的信息检索，组织，及总结归纳能力，使用互联网产品提高工作学习效率；</p>
  <p>生活习惯及作息健康，有长期健身的习惯，身体素质优秀，能承受高强度工作；</p>
</section>
{% endblock %}

{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/about.js' %}"></script>
{% endblock %}
