{% extends "base.html" %}
{% block title %}关于开发者{% endblock %}
{% block content %}
{% load staticfiles %}
<section class="col-md-10 col-md-offset-1">
  <img src="{% static 'img/moyotee.jpg' %}" alt="" id="head-img">
  <h1>zhufree</h1>
  <h3>武汉大学-信息管理学院-数字出版专业-大三本科生</h3>
  <h3>热爱编程与互联网，以教育事业为梦想</h3>
  <h4>Email:zhufree2013@gmail.com</h4>
  <h4>QQ:963949236</h4>
  <h4>wechat:Zhu_free</h4>
  <a href="https://github.com/zhufree" target="_blank"><img src="{% static 'img/github.png' %}" alt="" class="social-logo"></a>
  <a href="http://blog.csdn.net/zhu_free" target="_blank"><img src="{% static 'img/csdn.png' %}" alt="" class="social-logo"></a>
  <a href="http://zhufree.jisuan.me" target="_blank"><img src="{% static 'img/jisuanke.png' %}" alt="" class="social-logo"></a>
  <a href="https://www.shiyanlou.com/user/29295" target="_blank"><img src="{% static 'img/shiyanlou.jpg' %}" alt="" class="social-logo"></a>

</section>
{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
{% block script %}
{% load staticfiles %}
<!-- <script type="text/javascript" src="{% static 'js/index.js' %}"></script> -->
{% endblock %}
