<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh" ng-app="proApp">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Sample|{% block title %}首页{% endblock%}</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link %}
    {% endblock %}
</head>
{% block style %}
{% endblock %}
<body>
<!--<nav class='nav'>-->
<ul class="nav nav-pills top">
    <li class="nav-item"><a class="nav-link" href="/">首页</a></li>
    <li class="nav-item"><a class="nav-link" href="/msg/">留言板</a></li>
    <!--<li class="nav-item"><a class="nav-link" href="/blog/">个人博客</a></li>-->
    <!--<li class="nav-item"><a class="nav-link" href="/forum/">论坛</a></li>-->
    <li class="nav-item"><a class="nav-link" href="/gallery/">画廊</a></li>
    <li class="nav-item"><a class="nav-link" href="/chatroom/">聊天室</a></li>
    <!--<li class="nav-item"><a class="nav-link" href="/novel/">文集</a></li>-->
    <!--<li class="nav-item"><a class="nav-link" href="/about/">关于开发者</a></li>-->
    <!-- <li role="presentation" ><a href="/projects/">前端show</a></li> -->
    {% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">{{user.username}}
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/novel/mynovels/">我的文集</a>
            <a class="dropdown-item" href="/accounts/logout/">退出</a>
        </div>
    </li>
    {% else %}
    <li class="nav-item"><a class="nav-link" href="/accounts/login/">登陆</a></li>
    <li class="nav-item"><a class="nav-link" href="/accounts/register/">注册</a></li>
    {% endif %}
</ul>
<!--</nav>-->
<div class='container-fluid' id="main-box">
    {% block content %}
    {% endblock %}
</div>
<footer>
    &copy; Copyright 2016-2019 by <a href="http://www.zhufree.fun/">www.zhufree.fun</a>.
</footer>
</body>
<!--with internet connected-->
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<!--<script src="//cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js'  %}"></script>
<script src="{% static 'js/angular.min.js'  %}"></script> -->
<script src="{% static 'js/base.js'  %}"></script>
<script src="{% static 'js/chatroom.js' %}"></script>
{% block script %}
{% endblock %}
</html>
