{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block content %}
{% load staticfiles %}
<section id="cover">
  <p id="timeHead"></p>
  <button id="exit-btn">关闭</button>
  <form action="accounts/register/" method="post" class="form form-horizontal col-md-4 col-md-offset-4">{% csrf_token %}
    <div class="form-group">
      <input type="text" name="username" class="form-control" placeholder="用户名">
    </div>
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="邮箱账号">
    </div>
    <div class="form-group">
      <input type="password" name="password1" class="form-control" placeholder="密码">
    </div>
    <div class="form-group">
      <input type="password" name="password2" class="form-control" placeholder="确认密码">
    </div>
    <div class="form-group">
      <button type="submit" class="form-control">注册</button>
    </div>
  </form>
</section>
<section id="index-page-1" class="index-pages">
  <h1>Hello,World!</h1>
  <h2>欢迎来到Free的项目站，本网站使用python的django框架搭建，前端使用Bootstrap框架，目前正在优化前端页面阶段中。</h2>
<a class="next-page" href="#index-page-2">next</a>
</section>
<section id="index-page-2" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/msgbox.png' %}" alt="Message Box">
  </div> -->
  <aside class="caption">
    <h3>留言板</h3>
    <p>一个简易留言板，使用pre标签展示内容。</p>
  </aside>
<a class="next-page" href="#index-page-3">next</a>
</section>
<section id="index-page-3" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/blog.png' %}" alt="Blog">
  </div> -->
  <aside class="caption">
    <h3>个人博客</h3>
    <p>简易个人博客，使用Tag进行组织，目前只支持纯文本，准备添加markdown语法支持。</p>
  </aside>
  <a class="next-page" href="#index-page-4">next</a>
</section>
<section id="index-page-4" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/forum.png' %}" alt="Forum">
  </div> -->
  <aside class="caption">
    <h3>论坛</h3>
    <p>一个简单的论坛系统，用户可以发帖回帖，按照“话题”进行组织。</p>
  </aside>
  <a class="next-page" href="#index-page-5">next</a>
</section>
<section id="index-page-5" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/forum.png' %}" alt="Forum">
  </div> -->
  <aside class="caption">
    <h3>画廊</h3>
    <p>一个图片展示页面，可以上传图片，使用七牛存储图片文件，目前似乎有一些bug，同样使用Tag进行信息组织。</p>
  </aside>
  <a class="next-page" href="#index-page-6">next</a>
</section>
<section id="index-page-6" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/forum.png' %}" alt="Forum">
  </div> -->
  <aside class="caption">
    <h3>聊天室</h3>
    <p>简易在线聊天室，使用ajax轮询请求消息。</p>
  </aside>
  <a class="next-page" href="#index-page-7">next</a>
</section>
<section id="index-page-7" class="index-pages">
  <!-- <div class="display-icon">
    <img src="{% static 'img/forum.png' %}" alt="Forum">
  </div> -->
  <aside class="caption">
    <h3>文集</h3>
    <p>以Novel和Chapter的形式组织内容，可以多人编辑同一个文集，目前刚刚写完框架，bug很多。</p>
  </aside>
</section>
{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}
{% block script %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
