{% extends "base.html" %}
{% block title %}前端show{% endblock %}
{% block content %}
{% load staticfiles %}
<section class="pro col-md-6 col-md-offset-3" ng-controller="showPro">
  <div ng-repeat="pro in pros" class="pros" style="background: url([[pro.imgLink]]) no-repeat;background-size:100%;">
    <a href="[[pro.link]]" target="_blank">
      <div class="cover">
        <h1>[[pro.name]]</h1>
        <h3>[[pro.desc]]</h3>
      </div>
    </a>
  </div>
</section>
<!-- <section class="pro">

</section> -->

{% endblock %}
{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}">
{% endblock %}
{% block script %}
<!--Angularjs文件-->
<script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/projects.js' %}"></script>
<script type="text/javascript" src="{% static 'js/projectsCtrl.js' %}"></script>
{% endblock %}
