{% extends "base.html" %}
{% block title %}聊天室{% endblock %}
{% block content %}
<style>
    #chatForm{
        margin-top:50px;
    }
    div.list-group-item {
    min-height:200px;
    }
</style>
<div class="list-group col well">
    <div class="list-group-item">
    	{% for chat in chats %}
        <h4 class="list-group-item-heading">{{chat.sender}}:{{chat.content}}</h4>
        <p class="list-group-item-text">{{chat.time}}</p>
        <input type="hidden" class="chat_id" value="{{chat.id}}"/>
        <br>
        {% endfor %}
    </div>
</div>

<form id="chatForm" style="" class="form-horizontal panel col" method="POST" action=".">{% csrf_token %}
    <div class="form-group col">
        <textarea type="text" name="content" id="content" value="" class="form-control" id="exampleMessage" placeholder=""></textarea>
    </div>
    <div class="form-group col">
        <input type="hidden" name="post_type" value="send_chat"/>
        <input type="submit" class="btn btn-lg btn-primary" value="发送"/>
    </div>
</form>
{% endblock %}
{% block script %}
{% load staticfiles %}
{% endblock %}
