{% extends 'base.html' %}
{% block title %}吃什么？{% endblock %}
{% block content %}
<div class="jumbotron col-md-10 col-md-offset-1">
  <h3>这个是给选择恐惧症的吃货女朋友做的东西（后来发现吃乎公众号好像完美解决了这个问题and现在也没女朋友了科科）</h3>
    <p>使用方法就是把饭店添加进来然后roll一下→_→</p>
</div>
<div class="panel panel-default col-md-10 col-md-offset-1">
    <div class='panel-body' id='restbox'>
    {% for rest in rests %}
        <button type="button" class="btn btn-default">{{rest.name}}
        <span class='badge'>{{rest.count}}</span>
        </button>
    {% endfor %}
    </div>
</div>
<div class='panel panel-default col-md-10 col-md-offset-1' id="mainbox">
    <div class='panel-body' >
        <form id='addRestForm' method='POST'>{% csrf_token %}
            <div class='form-group input-group'>
                 <span class='input-group-addon' id='basic-addon1'>name</span>
                 <input type='text' name='restname' class='form-control' placeholder='' aria-describedby='basic-addon1'>
            </div>
            <div class='form-group input-group'>
                <input type='submit' class='btn btn-default' value='添加饭店'/>
            </div>
        </form>
        <form id='rollForm' method='POST'>{% csrf_token %}
            <div class="btn-group">
                 <button class="btn btn-primary" type="submit">Roll</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
$(document).ready(function() {  
    //表单 submit 事件  
    $('#addRestForm').submit(function() {  
        //ajax 提交表单  
        $.post('./add_rest/',  
            $('#addRestForm').serialize(),
            function(data) {  
                var htmlstr='<button type="button" class="btn btn-default">'+data['name']+'<span class="badge">'+data['count']+'</span></button>';
                $('#restbox').append(htmlstr);
        });  
        return false;       //阻止表单提交  
    });  
    $('#rollForm').submit(function() {  
        //ajax 提交表单  
        $.post('./roll/',  
            $('#addRestForm').serialize(),
            function(data) {  
                var htmlstr='<div class="alert alert-success" role="alert">'+data['result']+'</div>';
                $('#mainbox').append(htmlstr);
        });  
        return false;       //阻止表单提交  
    });
});  
</script>
{% endblock %}
